.container {
	background-color: grey;
}

#jumbotron {
	background-color: #a94442; 
}

#head {
	font-weight: bold;
}

#lead {
	font-weight: bold; 
}

#line {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 5px; 
}

#tableHeading {
	font-weight: bold;
}

#panel-heading {
	background: #4aaaa5; 
}

#add-train {
	background: #4aaaa5; 
	color: black;
	text-shadow: none; 
}

.panel-title {
	font-weight: bold; 
}